<!DOCTYPE html>
<html>
  <head>
    <title>Express</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
  <body>
        <% include navbar.ejs %>   
    <h3>Settings</h3>
    <div class="row">
        <div class="col-2">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <% if(address){ %>
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account</a>
                <a class="nav-link active" id="v-pills-address-tab" data-toggle="pill" href="#v-pills-address" role="tab" aria-controls="v-pills-address" aria-selected="true">Address</a>
              <% } else{ %>  
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account</a>
                <a class="nav-link" id="v-pills-address-tab" data-toggle="pill" href="#v-pills-address" role="tab" aria-controls="v-pills-address" aria-selected="true">Address</a>
              <% } %>
     
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Edit profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Change password</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Remove profile</a>
          </div>
        </div>
        <div class="col-10">
          <div class="tab-content" id="v-pills-tabContent">
            
              <% if(address){  %>
               <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                  <% } else{ %>  
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <% } %>
                <table class="table">       
                    <tbody>
                      <tr>
                        <th scope="row">Firstname</th>
                        <td><%= user.firstName %></td>
                      </tr>
                      <tr>
                        <th scope="row">Lastname</th>
                        <td><%= user.lastName %></td>
                      </tr>
                      <tr>
                        <th scope="row">Email</th>
                        <td><%= user.email %></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <% if(address){ %>
              <div class="tab-pane fade show active" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">
                  <% } else{ %>  
              <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab">
                  <% } %>
   
              Addresses
              <div class="col-8">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addressModal">
                      Add new
                    </button>
                <ul class="list-group">
                  
                </ul>
                <div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Add a new address</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form method="POST" action="/address"> 
                              <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputFirstName">First Name</label>
                                    <input type="text" required class="form-control" id="inputFirstName" name="address[firstName]" placeholder="First Name">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputLastName">Last Name</label>
                                    <input type="text" required class="form-control" id="inputLastName" name="address[lastName]" placeholder="Last Name">
                                  </div>
                                </div>                     
                                <div class="form-group">
                                  <label for="inputAddress">Address</label>
                                  <input type="text" required class="form-control" id="inputAddress" name="address[address]" placeholder="1234 Main St">
                                </div>
                                <div class="form-group">
                                  <label for="inputAddress2">Address 2</label>
                                  <input type="text" required class="form-control" id="inputAddress2" name="address[address2]" placeholder="Apartment, studio, or floor">
                                </div>
                                <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" required class="form-control" name="address[city]" id="inputCity">
                                  </div>
                                  <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select name="address[state]" required id="inputState" class="form-control">
                                      <option value="" selected>Choose...</option>
                                      <option value="Budapest">...</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" required class="form-control" name="address[zip]" id="inputZip">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                  </div>
                          </form>             
                        </div>                  
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <form method="POST" action="editProfile">
                  <div class="form-group">Email
                      <label for="exampleInputEmailChange"></label>
                      <input type="email" required name="user[email]" class="form-control" id="exampleInputEmailChange" placeholder="Enter a new email">
                    </div>
                    <button type="submit" class="btn btn-primary">Change</button>
                    <div class="alert alert-success" role="alert" id="successEmail" style="visibility: hidden">
                        Success!
                    </div>
                    <div class="alert alert-warning" role="alert" id="errorEmail" style="visibility: hidden" >
                       Error
                      </div>
              </form>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
              <form class="col-6" method="POST" action="changePassword">
                  <div class="form-group">
                      <label for="exampleInputPasswordOld">Old password</label>
                      <input type="email" name="user[oldPassword]" class="form-control" id="exampleInputPasswordOld" placeholder="Enter your old password">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPasswordNew">New Password</label>
                      <input type="password" name="user[newPassword]" class="form-control" id="exampleInputPasswordNew" placeholder="Enter your new password">
                    </div>
                    <button type="button" onclick="changePassword()" class="btn btn-primary">Change</button>
                    <div class="alert alert-success" id="successPass" style="visibility: hidden" role="alert">
                        Success!
                    </div>
                    <div class="alert alert-warning" id="errorPass" style="visibility: hidden" role="alert">
                        Error
                      </div>
              </form>
            </div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                <button type="submit" class="btn btn-danger">Remove</button>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function changePassword(){
    axios.post(
      '/changePassword', 
      {
        user: 
        {
          oldPassword: $("#exampleInputPasswordOld").val(),
          newPassword: $("#exampleInputPasswordNew").val()
        }
      })
      .then(resp => {
      $("#successPass").css("visibility", "visible");
      $("#errorPass").css("visibility", "hidden");
      console.log(resp)
    }).catch(error => {
      $("#errorPass").css("visibility", "visible");
      $("#successPass").css("visibility", "hidden");
      console.log(error)
    }) 
  }

  $('.modal').on('hidden.bs.modal', function(){
    $(this).find('form')[0].reset();
});
</script>